#things {
  display: flex;
}

#calendar {
  flex: 1 1 60%;
}

#events {
  flex: 1 1 40%;
}

.week {
  display: flex;
}

.header_day {
  flex: 1 1 14.58%;
  height: 50px;
}

.day {
  flex: 1 1 14.58%;
  height: 100px;
}

.day:hover {
  background-color: steelblue;
}